<!DOCTYPE html>
<html>
	<head>
		<title>Meander Suite</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='teacherfinderfiles/answer.css')}}">
        <link rel="icon" href="{{ url_for('static', filename='mainfiles/sitelogo.png')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/85e648c8d7.js" crossorigin="anonymous"></script>
        <script>
            function alertweather()
            {
                alert("Average Tempurature: {{val1}}°C \n Average Humidity: {{val2}}% \n Cloud Coverage: {{val3}}% \n Moon Cycle: {{val4}}%");
            }
        </script>
	</head>
	<body>
        <section class="navbar">
            <a href="#"><img id="logo", src="{{ url_for('static', filename='mainfiles/sitelogo.png')}}"></a>
            <a href="{{ url_for('teachernotifications')}}">Your Timetable</a>
            <a href="{{ url_for('teacherplanner')}}">Planner</a>
            <a href="{{ url_for('page1')}}">Teacher finder</a>
            <a href="{{ url_for('teacherpage')}}", style="float: right;">TeacherHub</a>
            <span style="float: right;", onclick="alertweather()", class="tooltip"><img id="trafficimg" src={{val5}}></span>
        </section>
        <div class="form">
            <div class="title" >
                <h1>TEACHER FINDER</h1>
            </div>
            <div class="answer">
                <h2> Your Teacher Is {{value1}}</h2>
                <form>
                    <input id="finish" type="button" value="Finish" onclick="history.back()">
                </form>
            </div>    
        </div>
	</body>
</html>