<!DOCTYPE html>
<html>
    <html>
	<head>
		<title>Meander Suite</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='mainfiles/teachercontentpack.css')}}">
        <link rel="icon" href="{{ url_for('static', filename='mainfiles/sitelogo.png')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/85e648c8d7.js" crossorigin="anonymous"></script>
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
        </script>
	</head>
	<body>
        <div class="topnav" id="myTopnav">
            <a href="{{ url_for('index')}}", class="active"><img id="logo", src="{{ url_for('static', filename='mainfiles/sitelogo.png')}}"></a>
            <div class="dropdown">
                <button class="dropbtn">For Students</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('studentnotificationsdesc')}}">Timetable And Room Change Notifications</a>
                    <a href="{{ url_for('studentplannerdesc')}}">Student Planner</a>
                    <a href="{{ url_for('teacherfinderdesc')}}">Teacher Finder</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">For Teachers</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('trafficlightsystemdesc')}}">Traffic Light Behaviors</a>
                    <a href="{{ url_for('teachernotificationsdesc')}}">Notifications of student class changes</a>
                    <a href="{{ url_for('teacherfinderdesc')}}">Teacher Finder</a>
                </div>
            </div>
            <a href="{{ url_for('login')}}", style="float: right;">log In</a>
            <div class="dropdown", style="float: right;">
                <button class="dropbtn">Register</button>
                <div class="dropdown-content">
                    <a href="{{ url_for('studentcontentpackdesc')}}">Individual Student</a>
                    <a href="{{ url_for('teachercontentpackdesc')}}">Teachers special</a>
                    <a href="{{ url_for('duluxepackdesc')}}">Whole school</a>
                </div>
            </div>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
        <section class="content">
            <h2>Login Page</h2><br>    
            <div class="login">    
                <form method="POST">       
                    <label><b>Enter Your Schools Access Code To Continue</b></label>
                    <br><br><br><br>
                    <p>School Access code:</p>  
                    <input type="Password" name="Uname" id="Uname" placeholder="Access Code">
                    <br><br><br><br>
                    <p>Student Password (Your Password):</p>
                    <input type="Password" name="Pass" id="Pass" placeholder="Student Password">    
                    <br><br><br><br>
                    <p>Passwords on AllSchools are confidential. If you have forgotten your password or school access code please contact your system administrator, or the administration building at your school, to talk about getting the passwords and access codes for your school. We apologise for any inconveinence.</p>    
                    <br><br>
                    <input type="submit" name="log" id="log" value="Continue">         
                </form> 
            </div>   
        </section>
    </body>
</html>