<!DOCTYPE html>
<html>
    <html>
	<head>
		<title>Meander Suite</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='mainfiles/teacherfinder.css')}}">
        <link rel="icon" href="{{ url_for('static', filename='mainfiles/sitelogo.png')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/85e648c8d7.js" crossorigin="anonymous"></script>
	</head>
	<body>
        <section class="navbar">
            <a href="{{ url_for('index')}}"><img id="logo", src="{{ url_for('static', filename='mainfiles/sitelogo.png')}}"></a>
            <div class="dropdown">
                <button class="dropbtn">For Students
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('studentnotificationsdesc')}}">Timetable And Room Change Notifications</a>
                    <a href="{{ url_for('studentplannerdesc')}}">Student Planner</a>
                    <a href="{{ url_for('teacherfinderdesc')}}">Teacher Finder</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbtn">For Teachers
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('trafficlightsystemdesc')}}">Traffic Light Behaviors</a>
                    <a href="{{ url_for('teachernotificationsdesc')}}">Notifications of student class changes</a>
                    <a href="{{ url_for('teacherfinderdesc')}}">Teacher Finder</a>
                </div>
            </div>
            <a href="{{ url_for('login')}}", style="float: right;">log In</a>
            <div class="dropdown", style="float: right;">
                <button class="dropbtn">Register
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="{{ url_for('studentcontentpackdesc')}}">Individual Student</a>
                    <a href="{{ url_for('teachercontentpackdesc')}}">Teachers special</a>
                    <a href="{{ url_for('duluxepackdesc')}}">Whole school</a>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="title">
                <h1>The Teacher Finder Project</h1>
            </div>
            <div class="paragraph">
                <p>
                    Welcome to the Teacher Finder project homepage. The Teacher Finder was one of the original projects created for Allschools. This project, completed By Lachlan Nielsen (founder of Allschools), was part of a response to a challenge faced by teachers at his highschool.
                </p>
            </div>
            <div class="paragraph">
                <p>
                    This project aims to assist students in finding teachers, wheather this be at lunch, with the student needing to find a staff room, or if a student or teacher is trying to find a class. The Teacher Finder system includes:
                </p>
                <ul>
                    <li>An easy to navigate website</li>
                    <li>The Teacher finder software (Part of the website)</li>
                    <li>Plus many other hidden bonuses on the website!</li>
                </ul>
                <p>
                    To be eligible for this project, your school must be a registered member of AllSchools, if you are unsure wheather your school is registered, you can search the list of registered schools below.
                </p>
            </div>
            <form method="POST">
                <input name="name", style="height:30px;width:500px;padding:10px;", placeholder="Search the name of your school">
                <input type="submit", style="height:35px;width:60px;", placeholder="SEARCH">
            </form>
            <div class="paragraph">
                <p>
                    Not Registered? That's Ok, You can select the register button in the menu bar and get registered today! Please be aware that the register option is for <b>schools only</b>, Please consider talking to your Administration staff about getting registered. However all hope is not lost! You can browse our amazing selection of Student projects! By Signing up for those projects seperatly you help to support AllSchools in the best possible way, Thank you for your Support!
                </p>
            </div>
        </section>
        <section class="footer">
            <div class="title">
                <h2>CONTACT US</h2>
            </div>
            <div class="contacts">
                <div class="contact"><p>PHONE: (07) 3290 7222</p></div>
                <div class="contact"><p>FAX: (07) 3290 7200</p></div>
                <div class="contact"><p>EMAIL: emailoffice@woodridgeshs.eq.edu.au</p></div>
            </div>            
        </section>
    </body>
</html>