html{
	margin: 0;
	padding: 0;
}
body{
	margin: 0;
	width: 100%;
    text-align:center;
	font-family: Arial;
	background-image: url('bg.jpg');
}
.contacts{
    display: grid;
}
.contact{
    text-align: center;
}
.title{
    text-align: left;
    font-family: Arial;
}

/* Navbar css */
#trafficimg{
	height: 5.5vh;
	width: auto;
	display: inline-block;
	padding: 0.5vh;
}

#logo{
	height: 3vh;
	width: auto;
}


.navbar {
	overflow: hidden;
	background-color: rgb(51, 51, 51);
	font-family: Arial;
	position: fixed;
	top: 0;
	width: 100%;
	height: 6.5vh;
}
.navbar a {
	float: left;
	font-size: 2vh;
	color: rgb(255, 255, 255);
	text-align: center;
	padding: 2vh 3vh;
	text-decoration: none;
}
.dropdown {
	float: left;
	overflow: hidden;
}
.dropdown .dropbtn {
	font-size: 16px;
	border: none;
	outline: none;
	color: rgb(255, 255, 255);
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit; 
	margin: 0; 
}
.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: rgb(128, 128, 128);
}
.dropdown-content {
	display: none;
	position: fixed;
	background-color: rgb(249, 249, 249);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.dropdown-content a {
	float: none;
	color: rgb(0, 0, 0);
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a:hover {
	background-color: rgb(221, 221, 221);
}
.dropdown:hover .dropdown-content {
	display: block;
}


.login{  
	width: 60%;  
	height: 90%;
	overflow: hidden;  
	margin: auto;  
	margin: 20 0 0 450px;  
	padding: 80px;  
	background: rgb(255, 255, 255);  
	border-radius: 15px ;  	  
}  
label{  
	color: black;  
	font-size: 40px;  
}  
#Uname{  
	width: 400px;  
	height: 30px;    
	border-radius: 16px;  
	padding-left: 8px;  
}  
#Pass{  
	width: 400px;  
	height: 30px;   
	border-radius: 16px;  
	padding-left: 8px;  
}  
#log{  
	width: 300px;  
	height: 30px;  
	border: none;  
	border-radius: 17px;  
	padding-left: 7px;    
}  
span{  
	color: white;  
	font-size: 17px;  
}  
a{  
	float: right;  
	background-color: grey;  
}
