<!DOCTYPE html>
<html>
    <html>
	<head>
		<title>Meander Suite</title>
        {% block style %}{% endblock %}
        <link rel="icon" href="{{ url_for('static', filename='mainfiles/sitelogo.png')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/85e648c8d7.js" crossorigin="anonymous"></script>
        <script>
            function myFunction() {
                var x = document.getElementById("myTopnav");
                if (x.className === "topnav") {
                    x.className += " responsive";
                } else {
                    x.className = "topnav";
                }
            }
            function alertweather()
            {
                alert("Average Tempurature: {{val1}}°C \n Average Humidity: {{val2}}% \n Cloud Coverage: {{val3}}% \n Moon Cycle: {{val4}}%");
            }
        </script>
	</head>
	<body>
        <div class="topnav" id="myTopnav">
            <a href="#"><img id="logo", src="{{ url_for('static', filename='mainfiles/sitelogo.png')}}"></a>
            <a href="{{ url_for('studentnotifications')}}">Your Timetable</a>
            <a href="{{ url_for('studentplanner')}}">Student Planner</a>
            <a href="{{ url_for('page2')}}">Teacher Finder</a>
            <a href="{{ url_for('studentpage')}}", style="float: right;">StudentHub</a>
            <span style="float: right;", onclick="alertweather()", class="tooltip"><img id="trafficimg" src={{val5}}></span>
            <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
        </div>
        <section class="content">
            {% block content %}{% endblock content%}
        </section>
    </body>
</html>